@inject NavigationManager NavigationManager
@inject IShoppingCartService CartService

<button @onclick="GoToCart" class="btn btn-secondary">Cart (@CartCount)</button>

@code {

    int CartCount => CartService.Cart.LineItems.Sum(li => li.Quantity);

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CartService.OnChange += CartChanged;
    }

    void CartChanged()
    {
        StateHasChanged();
    }

    void GoToCart()
    {
        NavigationManager.NavigateTo("viewcart");
    }
}
