@page "/counter"

<h1>Counter</h1>

<p>Current count: <span class="@BackgroundColor">@currentCount</span></p>

<button disabled="@(currentCount > 9)" class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
      currentCount++;
    }

    private string BackgroundColor =>
      (currentCount % 2 == 0) ? "red-background" : "yellow-background";
}
