@page "/edit/{id}"
@inject HttpClient Http

<h3>Edit Product</h3>

@if (CurrentProduct == null) {
    <p><em>Loading...</em></p>
}
else {
    <h2>@CurrentProduct.ProductName</h2>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private Product? CurrentProduct { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentProduct = await Http.GetFromJsonAsync<Product>($"api/product/{Id}");
    }
}